:root{
    --darkergray:#BFC6C4;
    --lightgray:#E8E2D8;
    --zals:#6F8F72;
    --orange:#F2A65A;
    --color-teal:#3F9AAE;
    --color-sage:#79C9C5;
    --color-cream:#FFE2AF;
    --color-coral:#F96E5B;
}
